
.container {
  width:85%;
  margin: 0 auto;
}

.row0 {
  background-color:brown;
  color:white;
}
.row1 {
  /* background-color:aqua;
  padding: 100px 0; */
}

.row2 {
  /* background-color:dodgerblue;
  padding: 100px 0; */
}

.row3 {
  /* background-color:grey;
  padding: 100px 0; */
}